<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

  <body>
    <nav>
      <div id="title">
        <a href="{{url_for('root')}}"><h1>Catalog App</h1></a>
      </div>

      <div id="login-container">
        <div id="login">
          {% if 'username' not in session %}
            <a href="{{url_for('login')}}">Login</a>
          {% else %}
            <a href="{{url_for('logout')}}">Logout </a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="flash">
      {% with messages = get_flashed_messages() %}
        {% if messages %} 
          <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <div id="content-container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>

