{% extends "base.html" %}
{% block content %}

<h1>Edit Category Item</h1>

<form action="#" method = "post">
  <label for="title">Title:</label><br>
  <input type ="text" maxlength="50" class="form-control" name="title" value="{{item.title}}">

  <br><br>

  <label for="description">Description:</label><br>
  <textarea name="description">{{item.description}}</textarea>

  <br><br>

  <select name="category">
    {% for category in categories %}
      <option value="{{category.id}}" 
              {% if category.name==item.category.name %} 
                 selected="selected" 
              {% endif %}>
        {{category.name}}
      </option>
    {% endfor %}
  </select>

  <br><br>

  <input type="submit" value="Edit Category Item">
</form>

{% endblock %}