{% extends "base.html" %}
{% block content %}

<div class="content">
  <div id="category-item-edit">
    <h2>New Item</h2>

    <form action="#" method = "post">
      <label for="title">Title:</label><br>
      <input type ="text" maxlength="50" class="form-control" name="title" placeholder="Title of the item">

      <br><br>

      <label for="description">Description:</label><br>
      <input type="text" name="description" placeholder="Description of the item">

      <br><br>

      <select name="category_id">
        {% for category in categories %}
          <option value="{{category.id}}">
            {{category.name}}
          </option>
        {% endfor %}
      </select>

      <br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}