{% extends "base.html" %}
{% block content %}

<div class="content">
  <div id="category-item-show">
    <h2>{{item.title}}</h2>

    <p>Description: {{item.description}}</p>
    {% if 'username' in session %}
      <a href = "{{url_for('editCategoryItem', category_name = item.category.name, item_name = item.title)}}">Edit</a>
      |
      <a href = "{{url_for('deleteCategoryItem', category_name = item.category.name, item_name = item.title)}}">Delete</a>
    {% endif %}
  </div>
</div>

{% endblock %}