{% extends "base.html" %}
{% block content %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %} 
      <ul>
      {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>

<h1>{{item.title}}</h1>

<p>Description: {{item.description}}</p>

<a href = "{{url_for('editCategoryItem', category_name = item.category.name, item_name = item.title)}}">Edit</a>
|
<a href = "{{url_for('deleteCategoryItem', category_name = item.category.name, item_name = item.title)}}">Delete</a>

{% endblock %}